.chat-item{
	.me,.other{
		width: 100vw;
		padding: 0 32rpx;
		padding-top: 20rpx;
		min-height: 110rpx;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		box-sizing: border-box;
		.avatar{
			overflow: hidden;
			width: 84rpx;
			height: 84rpx;
			border-radius: 14rpx;
			image{
				width: 84rpx;
			}
		}
		.textinfo{
			background-color: #93eb67;
			padding: 16rpx;
			margin-right: 24rpx;
			box-sizing: border-box;
			border-radius: 10rpx;
			position: relative;
			min-height: 84rpx;
			line-height: 50rpx;
			max-width: calc(100vw - 40rpx - 248rpx);
			word-break: break-all;
			&::after{
				content: "";
				position: absolute;
				top: 36rpx;
				right: -10rpx;
				background-color: #93eb67;
				transform: rotate(45deg);
				width: 20rpx;
				height: 20rpx;
				border-top-right-radius: 6rpx;
			}
		}
		.image-msg{
			max-height: 300rpx;
			max-width: 200rpx;
		}
	}
	.other{
		justify-content: flex-start;
		.textinfo{
			background-color: #fff;
			margin-left: 24rpx;
			&::after{
				background-color: #fff;
				left: -10rpx;
			}
		}
	}
}