@font-face {
  font-family: "iconfont"; /* Project id 4026640 */
  src: url('static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e60c";
}

.icon-weizhi:before {
  content: "\e76f";
}

.icon-wo:before {
  content: "\e631";
}

.icon-minpian:before {
  content: "\e67b";
}

.icon-shoucang:before {
  content: "\e63d";
}

.icon-yuyinshuru:before {
  content: "\e6b0";
}

.icon-paishe:before {
  content: "\e675";
}

.icon-faceCall:before {
  content: "\e741";
}

.icon-xiangce:before {
  content: "\ebdd";
}

.icon-wenjian:before {
  content: "\e703";
}

.icon-tongxunlu:before {
  content: "\e604";
}

.icon-faxian:before {
  content: "\e64b";
}

.icon-faxian1:before {
  content: "\e8af";
}

.icon-tongxunlu1:before {
  content: "\e6ae";
}

.icon-xinxi:before {
  content: "\e600";
}

.icon-xinxi1:before {
  content: "\e6a7";
}

.icon-sousuo:before {
  content: "\e630";
}

.icon-yuyin:before {
  content: "\e805";
}

.icon-tianjia:before {
  content: "\e635";
}

.icon-biaoqing:before {
  content: "\e60b";
}

