.chat-input{
	min-height: 110rpx;
	width: 100vw;
	background-color: #f1f1f1;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	padding: 16rpx 32rpx;
	border: none;
	flex-direction: column;
	.top{
		display: flex;
		width: 100%;
		padding-bottom: 16rpx;
		align-items: center;
		min-height: 90rpx;
		.center{
			width: 65%;
			margin: 0 20rpx;
			::v-deep .uni-textarea-textarea{
				background-color: #fff;
				min-height: 48rpx;
				font-size: 32rpx;
				padding: 10rpx 16rpx;
			}
			::v-deep .uni-easyinput__content{
				border-radius: 10rpx;
			}
			::v-deep .uni-easyinput__content-textarea{
				min-height: 70rpx;
				width: 100%;
				margin: 0!important;
				border-radius: 10rpx;
			}
			::v-deep .input-box{
			}
		}
		.emoji{
			margin-right: 20rpx;
		}
		.right{
			.send-btn{
				padding: 14rpx 36rpx;
				background-color: #05c160;
				border-radius: 8rpx;
				white-space: nowrap;
				color: #fff;
			}
		}
	}
	.bottom{
		border-top: 1px solid #f3f3f3;
		height: 520rpx;
		width: 100vw;
		.swiper{
			height: 100%;
			&-item{
				background: #f1f1f1;
				display: flex;
				flex-wrap: wrap;
				padding: 20rpx;
				height: 85%!important;
				.setting-item{
					margin: 28rpx;
					&-icon{
						width: 120rpx;
						height: 120rpx;
						background-color: #fff;
						border-radius: 30rpx;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					&-text{
						width: 100%;
						display: flex;
						justify-content: center;
						color: #333;
						font-size: 24rpx;
						transform: translateY(6rpx);
					}
				}
			}
		}
		.wraper{
			width: 100vw;
			height: calc(100vh - 660rpx);
			z-index:-1;
			position: fixed;
			top: 0;
			left: 0;
		}
	}
	
}